<head>
    <%- include("partials/header") -%>
        
        <h1 class="mt-3"><%= reqPost %></h1>
        <div>
            <p><%= reqContent %></p>
        </div>
    <%- include("partials/footer") -%>
</html>